
	body {
	  color: #243213;
	  background-color: #89be49;
	  font-family: 'Raleway', sans-serif;
	  font-size: 13px; 
	  margin: 0 auto; 
	  max-width: 50em;
	  line-height: 1.8;
	  padding: 3em 1em;
	  text-align: justify;
	  }
